<!DOCTYPE html>
<html>
<head>
    <title>TerraBite &bull; Unauthorised</title>

    <% include ./partials/head %>

    <script src="/js/miny-part/particles.js"></script>
</head>
<style type="text/css">

    #particles-js {
        width: 100%;
        height: 0px;
        background-color: #1D1D1D;
        background-image: url('');
        background-repeat: no-repeat;
    }
    .particles-js-canvas-el {
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
    }

    .banner {
        background: -webkit-linear-gradient(45deg, rgba(35,50,59,1) 0%, rgba(95,88,128,1) 100%);
        background: linear-gradient(45deg, rgba(35,50,59,1) 0%, rgba(95,88,128,1) 100%);
    }

    /*CSS by Inventor02*/

    @import url(https://fonts.googleapis.com/css?family=Ubuntu);

    * {
        margin: 0;
        padding: 0;
    }

    html, body {
        height: 100%;
    }

    body {
        font-family: "Ubuntu", sans-serif;
        font-size: 21px;
        color: #ECF0F1;
    }

    #container {
        left: 50%;
        top: 50%;
        margin-top: -225px;
        margin-left: -444px;
        min-width: 900px;
        min-height: 330px;
    }


    #logo {
        height: 150px;
        width: 150px;
        border-radius: 4px;
        background: #ecf0f1;
    }

    #logo > img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
    }

    .front {
        z-index: 5000000;
    }
    .terrasize {
        height: 500px;
    }
</style>
<body>
<div id="particles-js" class="is-hidden-mobile">
</div>
<section class="hero is-danger is-medium terrasize" style="z-index: -5;">
    <div class="hero-head">
        <% include ./partials/nav %>
    </div>
    <div class="hero-body">
        <div class="container is-hidden-mobile">
            <div class="columns">
                <img id="logo" src="/img/icon.png">
                <div class="column is-9">
                    <h1 class="title is-1" style="color:#fff;">&bull; TerraBite</h1>
                    <h2 style="margin-top: -1.2rem;">Unauthorised</h2>
                </div>
            </div>
        </div>
        <div class="container has-text-centered is-hidden-tablet">
            <h1 class="title is-1">TerraBite</h1>
            <h2 class="subtitle is-4">Unauthorised</h2>
        </div>
    </div>
</section>
<% if (!loggedInStatus) { %>
<section class="section">
    <div class="container has-text-centered box">
        <div class="header">
            <h1 class="title">
                <strong><i>TerraBite &bull; Unauthorised</i></strong>
            </h1><br>
            <h2 class="subtitle">
                You must be logged in to access this!
                <br>
                You can login by clicking on the following button:
                <br><br><br>
                <a class="button is-info" href="/login">
  					<span class="icon">
    					<i class="fa fa-sign-in" aria-hidden="true"></i>
  					</span>
                    <span>Sign in to TerraBite</span>
                </a>
            </h2>
        </div>
    </div>
</section>
<% } else { %>
<section class="section">
    <div class="container has-text-centered box">
        <div class="header">
            <h1 class="title">
                <strong><i>TerraBite &bull; Unauthorised</i></strong>
            </h1><br>
            <h2 class="subtitle">
                I'm sorry but you do not have permission to access this page!
                <br><br><br>
                <a class="button is-success is-large" href="/">
                                <span class="icon">
                                    <i class="fa fa-home"></i>
                                </span>
                    <span>Take me home!</span>
                </a>
            </h2>
        </div>
    </div>
</section>
<% } %>
<% include ./partials/foot %>
<% include ./partials/up %>
<% include ./partials/sio %>
<script src="/js/miny-part/app.js"></script>
</body>
</html>