<!DOCTYPE html>
<html>
    <head>
        <title>TerraBite &bull; Coming Soon</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="oskikiboy">
        <meta name="description" content="Coming Soon">

        <meta property="og:type" content="website">
        <meta property="og:title" content="TerraBite">
        <meta property="og:image" content="/img/icon.png">
        <meta property="og:description" content="Coming Soon">

        <meta name="twitter:title" content="TerraBite">
        <meta name="twitter:image" content="/img/icon.png">
        <meta name="twitter:description" content="Coming Soon">

        <link rel="shortcut icon" type="image/png" href="/img/icon.png">
        <meta name="theme-color" content="#551A8B">

        <link rel="stylesheet" href="/discord/icon-discord.css">
        <link rel="stylesheet" href="/css/bulma.css">
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="stylesheet" href="https://s3.amazonaws.com/icomoon.io/114779/Socicon/style.css?cp0z2c">
        <link rel="icon" href="/img/icon.png">

        <script src="https://use.fontawesome.com/85986a92d7.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/js/particles.js"></script>
        <script src="/js/bulma.js"></script>
    </head>
    <style type="text/css">

        #particles-js {
            width: 100%;
            height: 0px;
            background-color: #1D1D1D;
            background-image: url('');
            background-repeat: no-repeat;
        }
        .particles-js-canvas-el {
            top: 0;  
            left: 0;
        }

        .banner {
            background: -webkit-linear-gradient(45deg, rgba(35,50,59,1) 0%, rgba(95,88,128,1) 100%);
            background: linear-gradient(45deg, rgba(35,50,59,1) 0%, rgba(95,88,128,1) 100%);
        }

        /*CSS by Inventor02*/

        @import url(https://fonts.googleapis.com/css?family=Ubuntu);

        * {
            margin: 0;
            padding: 0;
        }

        html, body {
            height: 100%;
        }

        body {
            font-family: "Ubuntu", sans-serif;
            font-size: 21px;
            color: #ECF0F1;
        }

        #container {
            left: 50%;
            top: 50%;
            margin-top: -80px;
            margin-left: -444px;
            min-width: 900px;
            min-height: 330px;
        }


        #logo {
            height: 150px;
            width: 150px;
            border-radius: 4px;
            background: #ecf0f1;
        }

        #logo > img {
            border-radius: 5px;
            width: 100%;
            height: 100%;
        }

        .front {
            z-index: 5000000;
        }
    </style>
    <body>
        <div id="particles-js" class="is-hidden-mobile">
        </div>
        <section class="hero is-dark is-fullheight banner" style="z-index: -5;">
            <div class="hero-head">
                <% include ./partials/nav %>
            </div>
            <div class="hero-body">
                <div id="container" style="z-index: 50;position: absolute;" class="is-hidden-mobile">
                    <div class="columns">
                        <img id="logo" src="/img/icon.png">
                        <div class="column is-9">
                            <h1 class="title is-1" style="color:#fff;">&bull; Terrabite</h1>
                            <h2 style="margin-top: -1.2rem;"><strong>TerraBite</strong> is a WIP Discord bot.</h2>
                        </div>
                    </div>
                </div>
                <div class="container is-hidden-tablet has-text-centered">
                    <h1 class="title is-1">TerraBite</h1>
                    <h2 class="subtitle is-4"><strong>TerraBite</strong> is a WIP Discord bot.</h2>
                </div>
            </div>
        </section>
        <section class="hero is-dark is-bold">
            <div class="hero-body">
                <div class="container">
                    <nav class="columns">
                        <a class="column has-text-centered">
                            <span class="icon is-large">
                                <i class="fa fa-controler"></i>
                            </span>
                            <p class="title is-4"><strong>Great Fun!</strong></p>
                            <p class="subtitle">null</p>
                        </a>
                        <a class="column has-text-centered">
                            <span class="icon is-large">
                                <i class="fa fa-question-circle"></i>
                            </span>
                            <p class="title is-4"><strong>null</strong></p>
                            <p class="subtitle">null</p>
                        </a>
                        <a class="column has-text-centered">
                            <span class="icon is-large">
                                <i class="fa fa-question-circle"></i>
                            </span>
                            <p class="title is-4"><strong>null</strong></p>
                            <p class="subtitle">null</p>
                        </a>
                        <a class="column has-text-centered">
                            <span class="icon is-large">
                                <i class="fa socicon-discord"></i>
                            </span>
                            <p class="title is-4"><strong>Discord</strong></p>
                            <p class="subtitle">A chat to talk about all <strong>bot</strong> related things.</p>
                        </a>
                    </nav>
                </div>
            </div>
        </section>
        <section class="hero is-primary is-bold is-small">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <p class="title"><strong>~ Bot Information ~</strong></p>
                    <br>

                    <nav class="columns">
                        <div class="column">
                            <p class="heading"><strong>Total Servers</strong></p>
                            <p class="title is-2"><%= guildamount %></p>
                        </div>

                        <div class="column">
                            <p class="heading"><strong>Total User amount</strong></p>
                            <p class="title is-2"><%= useramount %></p>
                        </div>

                        <div class="column">
                            <p class="heading"><strong>Instance Uptime</strong></p>
                            <p class="title is-2"><%= botuptime %></p>
                        </div>
                    </nav>
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container has-text-centered box">
                <div class="heading">
                    <h1 class="title">Development team</h1>
                    <h2 class="subtitle">Those who have created the bot</h2>
                </div>

                <br><br><br>
                <div class="columns">
                    <div class="column">
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64"><img src="https://oskikiboy.me/img/icon.png">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>oskikiboy</strong>
                                            <small>@oskikiboy#1133</small>
                                            <span class="tag is-primary is-small">Project Founder</span>
                                            <span class="tag is-success is-small">Front end Developer</span>
                                            <span class="tag is-success is-small">Back end Developer</span>
                                            <br>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64"><img src="https://cdn.discordapp.com/avatars/210683612369125386/3539947c07374b11e8d9035d7e80bba0.png?size=2048">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>haxmat</strong>
                                            <small>@haxmat#2439</small>
                                            <span class="tag is-primary is-small">Project Head</span>
                                            <span class="tag is-success is-small">Front end Developer</span>
                                            <span class="tag is-success is-small">Back end Developer</span>
                                            <br>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64"><img src="https://cdn.discordapp.com/avatars/229232856063410176/95b68e024bf41e0d5761447c4557bb1c.png?size=2048">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>motasim</strong>
                                            <small>@motasim#4036</small>
                                            <span class="tag is-dark is-small">Project Lead</span>
                                            <span class="tag is-success is-small">Front end Developer</span>
                                            <span class="tag is-success is-small">Back end Developer</span>
                                            <br>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64"><img src="https://cdn.discordapp.com/avatars/239738897985175552/8e28a509823eb5f5978ffb87fab728fa.png?size=2048">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>Cringy Adam</strong>
                                            <small>@Cringy Adam#4611</small>
                                            <span class="tag is-dark is-small">Project Lead</span>
                                            <span class="tag is-success is-small">Back end Developer</span>
                                            <br>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64"><img src="https://cdn.discordapp.com/avatars/321193377951645699/610f7037f28820e75694cb621ff1927e.png?size=2048">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>Blackberry pi</strong>
                                            <small>@Blackberry pi#6618</small>
                                            <span class="tag is-success is-small">Back end Developer</span>
                                            <br>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="box">
                            <article class="media">
                                <div class="media-left">
                                    <figure class="image is-64x64"><img src="https://cdn.discordapp.com/avatars/236002091120721930/a_a5bb1694dcb429c3678b3766de5fe545.gif?size=2048">
                                    </figure>
                                </div>
                                <div class="media-content">
                                    <div class="content">
                                        <p>
                                            <strong>Codefox</strong>
                                            <small>@Codefox#0953</small>
                                            <span class="tag is-success is-small">Back end Developer</span>
                                            <br>
                                        </p>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <script src="/js/app.js"></script>
    </body>
</html>