<!DOCTYPE html>
<html>
    <head>
        <title>TerraBite &bull; The best Discord Bot you'll ever come across.</title>

        <% include ./partials/head %>

        <script src="/js/particles.js"></script>
    </head>
    <style type="text/css">
        #particles-js {
            width: 100%;
            height: 0px;
            background-color: #1D1D1D;
            background-image: url('');
            background-repeat: no-repeat;
        }

        .particles-js-canvas-el {
            top: 0;
            left: 0;
        }

        * {
            font-family: 'Raleway', sans-serif;
        }
    </style>
    <body>
        <div id="particles-js" class="is-hidden-mobile">
        </div>
        <section class="hero is-dark is-fullheight banner" style="z-index: -5;">
            <div class="hero-head">
                <% include ./partials/nav %>
            </div>
            <div class="hero-body">
                <div style="z-index: 50;margin: auto" class="container is-hidden-mobile">
                    <div class="columns">
                        <img id="logo" src="/img/icon.png">
                        <div class="column is-9">
                            <% include ./partials/title %>
                            <h2 style="margin-top: -1.2rem;">
                                <% if (!loggedInStatus) { %>
                                <strong>TerraBite</strong> is The Best <b>Discord</b> Bot you'll ever come across.
                                <% } else { %>
                                Welcome to the <strong>TerraBite</strong> Dashboard ~ WIP.
                                <% } %>
                            </h2>
                            <% if (!loggedInStatus) { %>
                    <a class="button is-white is-medium is-outlined" href="/login" style="position: absolute">
                        <span class="icon is-medium">
                            <i class="fa fa-sign-in"></i>
                        </span>
                        <span>Login</span>
                    </a>
                            <% } else { %>
                    <a class="button is-white is-medium is-outlined" href="/logout">
                        <span class="icon is-medium">
                            <i class="fa fa-sign-out"></i>
                        </span>
                        <span>Logout</span>
                    </a>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div class="container is-hidden-tablet has-text-centered">
                    <h1 class="title is-1">TerraBite</h1>
                    <h2 class="subtitle is-4">
                        <% if (!loggedInStatus) { %>
                        <strong>TerraBite</strong> is The Best <b>Discord</b> Bot you'll ever come across.
                        <% } else { %>
                        Welcome to the <strong>TerraBite</strong> Dashboard ~ WIP.
                        <% } %>
                    </h2>
                    <% if (!loggedInStatus) { %>
                    <a class="button is-white is-medium is-outlined" href="/login">
                        <span class="icon is-medium">
                            <i class="fa fa-sign-in"></i>
                        </span>
                        <span>Login</span>
                    </a>
                    <% } else { %>
                    <a class="button is-white is-medium is-outlined" href="/logout">
                        <span class="icon is-medium">
                            <i class="fa fa-sign-out"></i>
                        </span>
                        <span>Logout</span>
                    </a>
                    <% } %>
                </div>
            </div>
            <div class="hero-foot">
                <div class="container has-text-centered">
                </div>
            </div>
        </section>
        <section class="hero is-dark is-bold">
            <div class="hero-body">
                <div class="container">
                    <nav class="columns">
                        <a class="column has-text-centered">
                            <span class="icon is-large">
                                <i class="fa fa-gamepad"></i>
                            </span>
                            <p class="title is-4"><strong>Great Fun!</strong></p>
                            <p class="subtitle">Coinflip, Fortune, 8ball and More!</p>
                        </a>
                        <a class="column has-text-centered">
                            <span class="icon is-large">
                                <i class="fa fa-gavel"></i>
                            </span>
                            <p class="title is-4"><strong>Moderation</strong></p>
                            <p class="subtitle">Purge, Kick, Ban, Warn</p>
                        </a>
                        <a class="column has-text-centered">
                            <span class="icon is-large">
                                <i class="fa fa-info-circle"></i>
                            </span>
                            <p class="title is-4"><strong>Information</strong></p>
                            <p class="subtitle">Weather, Stats, Userinfo, Uptime</p>
                        </a>
                        <a class="column has-text-centered" href="<%= support %>">
                            <span class="icon is-large">
                                <i class="fa socicon-discord"></i>
                            </span>
                            <p class="title is-4"><strong>Discord</strong></p>
                            <p class="subtitle">A chat to talk about all <strong>bot</strong> related things.</p>
                        </a>
                    </nav>
                </div>
            </div>
        </section>
        <section class="hero is-primary is-bold is-small">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <p class="title"><strong>~ Bot Information ~</strong></p>
                    <br>

                    <nav class="columns">
                        <div class="column">
                            <p class="heading"><strong>Total Servers</strong></p>
                            <p class="title is-2"><%= guildamount %></p>
                        </div>

                        <div class="column">
                            <p class="heading"><strong>Total User amount</strong></p>
                            <p class="title is-2"><%= useramount %></p>
                        </div>

                        <div class="column">
                            <p class="heading"><strong>Instance Uptime</strong></p>
                            <p class="title is-2"><%= botuptime %></p>
                        </div>
                    </nav>
                </div>
            </div>
        </section>
        <% include ./partials/staff %>
        <% include ./partials/foot %>
        <% include ./partials/up %>
        <script src="/js/app.js"></script>
        <!-- <script>
            $(document).ready(function() {

                $(window).scroll(function () {
                    //if you hard code, then use console
                    //.log to determine when you want the
                    //nav bar to stick.
                    console.log($(window).scrollTop())
                    if ($(window).scrollTop() > 281) {
                        $('#notification').addClass('front');
                    }
                    if ($(window).scrollTop() < 281) {
                        $('#notification').removeClass('front');
                    }
                });
            });
            $(document).on('click', '.notification > button.delete', function() {
                $(this).parent().addClass('is-hidden');
                return false;
            });
        </script>
        -->
    </body>
</html>